Name: Stamatios Sideris

ID: f2822113

### We first create a sparkSession. It is responsible to create a sparkContext object that will help us communicate with Spark. As it will need the credentials of our application it also creates a SparkConf object that includes our application name and the location it will run.

In [1]:
from pyspark.sql import SparkSession
appName = "task2" #determine the name of the App
master = "local" #determine it will run locally
spark = SparkSession.builder.appName(appName).master(master).getOrCreate()

### We read the json file and print its schema

In [2]:
json_path = "books_5000.json"
df = spark.read.json(json_path)
df.printSchema()
df.show(3)

root
 |-- asin: string (nullable = true)
 |-- authors: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- author_id: string (nullable = true)
 |    |    |-- role: string (nullable = true)
 |-- average_rating: string (nullable = true)
 |-- book_id: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- description: string (nullable = true)
 |-- edition_information: string (nullable = true)
 |-- format: string (nullable = true)
 |-- image_url: string (nullable = true)
 |-- is_ebook: string (nullable = true)
 |-- isbn: string (nullable = true)
 |-- isbn13: string (nullable = true)
 |-- kindle_asin: string (nullable = true)
 |-- language_code: string (nullable = true)
 |-- link: string (nullable = true)
 |-- num_pages: string (nullable = true)
 |-- popular_shelves: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- count: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- publication_day: string (nullable = true)
 |-- publication_month: string (nullable = true)
 |-- publication_year: string (nullable = true)
 |-- publisher: string (nullable = true)
 |-- ratings_count: string (nullable = true)
 |-- series: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- similar_books: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- text_reviews_count: string (nullable = true)
 |-- title: string (nullable = true)
 |-- title_without_series: string (nullable = true)
 |-- url: string (nullable = true)
 |-- work_id: string (nullable = true)

+----------+-------------+--------------+--------+------------+--------------------+-------------------+---------+--------------------+--------+----------+------+-----------+-------------+--------------------+---------+--------------------+---------------+-----------------+----------------+--------------------+-------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------+
|      asin|      authors|average_rating| book_id|country_code|         description|edition_information|   format|           image_url|is_ebook|      isbn|isbn13|kindle_asin|language_code|                link|num_pages|     popular_shelves|publication_day|publication_month|publication_year|           publisher|ratings_count|              series|       similar_books|text_reviews_count|               title|title_without_series|                 url| work_id|
+----------+-------------+--------------+--------+------------+--------------------+-------------------+---------+--------------------+--------+----------+------+-----------+-------------+--------------------+---------+--------------------+---------------+-----------------+----------------+--------------------+-------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------+
|B00NLXQ534|[{8551671, }]|          4.12|25742454|          US|Lillian Ann Cross...|                   |         |https://s.gr-asse...|    true|          |      |           |             |https://www.goodr...|         |[{228, to-read}, ...|               |                 |                |                    |            1|                  []|[25653153, 256991...|                 1|The Switchblade M...|The Switchblade M...|https://www.goodr...|42749946|
|          |[{3274315, }]|          3.94|30128855|          US|Florence Dupre La...|                   |         |https://images.gr...|   false|2205073346|      |           |          fre|https://www.goodr...|         |[{2, bd}, {2, to-...|             22|                1|            2016|             Dargaud|           16|                  []|                  []|                 2|             Cruelle|             Cruelle|https://www.goodr...|50558228|
|          |  [{37450, }]|          4.28|13571772|          US|The questions pla...|                   |Hardcover|https://images.gr...|   false|          |      |           |          eng|https://www.goodr...|      146|[{493, to-read}, ...|               |                 |            2012|Hachette Partwork...|           51|[246830, 362583, ...|[13590139, 105963...|                 5|Captain America: ...|Captain America: ...|https://www.goodr...|  102217|
+----------+-------------+--------------+--------+------------+--------------------+-------------------+---------+--------------------+--------+----------+------+-----------+-------------+--------------------+---------+--------------------+---------------+-----------------+----------------+--------------------+-------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------+
only showing top 3 rows

### We choose to keep the columns "book_id", "title" and "average_rating". We filter them so that we keep only the titles that start with the letter "S". We sort them in descending order by the column "average_rating" and we choose the first row as it will be the highest rating.

In [3]:
from pyspark.sql.functions import desc
df.select(df["book_id"],df["title"],df["average_rating"]).filter(df.title.startswith("S")).sort(desc("average_rating")).show(1)

+--------+--------------------+--------------+
| book_id|               title|average_rating|
+--------+--------------------+--------------+
|22129858|Superman: The Gol...|          4.75|
+--------+--------------------+--------------+
only showing top 1 row

### We filter the titles that start with "I". We then use mean command to find the average of the "average_rating" column.

In [4]:
from pyspark.sql.functions import mean
df.filter(df.title.startswith("I")).select(mean("average_rating")).show()

+-------------------+
|avg(average_rating)|
+-------------------+
| 3.9546753246753252|
+-------------------+

### We change the type of column "num_pages" to integer as it is an integer number.

In [5]:
from pyspark.sql.types import *
df = df.withColumn("num_pages",df.num_pages.cast(IntegerType()))

### We select the columns "book_id", "title", "format" and "num_pages" as they are the ones needed. We filter them for titles starting with "D" and their format is equal to "Paperback". We sort them in descending order by the number of pages and take the first row as it will be the book with the most pages.

In [6]:
df.select(df["book_id"],df["title"],df["format"],df["num_pages"]).filter(df.title.startswith("D") & (df.format == "Paperback")).sort(desc("num_pages")).show(1)

+--------+--------------------+---------+---------+
| book_id|               title|   format|num_pages|
+--------+--------------------+---------+---------+
|18143804|Dragon Ball (3-in...|Paperback|      576|
+--------+--------------------+---------+---------+
only showing top 1 row